
#quote-wrapper {
    width: 50%; 
    border: 3px solid red; 
    margin: auto;
    margin-top: 15%;
    padding: 3%;
    background-color: white;
}

.quote-container {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}

.social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}